
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/
.idea/
.ionide/

.vs/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


*.nupkg
*.snupkg
*.nuspec


*.sln.iml

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

.DS_Store
._*
.Spotlight-V100
.Trashes